*{
  margin:0px ;
  padding : 0px ;
   
}
.container1 {
  
  padding: 0px;
  margin: 0px;
 width: 100%;
 background: #0f2027;
     background-image: linear-gradient(to right , #103e52,#203A43 , #0f2027);
  
}


.input-area{
 
  width: 100% ;
  height:35vh ;
  border-bottom: 4px solid coral ;

  
}
input {
  margin :100px ;
  height: 50px ;
  width: 300px ;
  border-radius: 25px;
  margin-left: 40rem  ;
}

h1{
  text-align: center;
  padding-top:40px ;
  color: coral;
  font-weight: 900;
  font-size: 60px ;
}

.card-container{

  margin: 10px;
  width: 100% ;
  height:35vh ;
  background-image: linear-gradient(to right , #123b4d,#203A43 , #0f2027);
    box-shadow: 2px 2px 20px 2px #e79ac3 ;
    
  
}
.grid{

  display: grid;
  flex-wrap: wrap;
  width: 100%;
  grid-template-columns: auto auto auto auto ;
  
  grid-gap:50px ;
}


  


.card{
  width:250px ;
  height:300px ;
 
 
}

.image{

}
img{
  width:240px ;
  height:200px ;
  background-color: transparent;

}
.person-name{
  text-align: center;
  font-weight: 900;
  font-size: 20px ;
  color: coral;
  overflow: hidden;
  margin-left: 40px;
 

}
.person-email{
  text-align: center;
  font-weight: 800;
  font-size: 20px ;
  color: coral;
  overflow: hidden;
  margin-left: 40px;
 
}